<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="iamapollojusticeandiamfine.Properties.Settings.ArtProjectConnectionString"
            connectionString="Data Source=DESKTOP-HL87D4M\sqlexpress;Initial Catalog=ArtProject;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>